#navbar {
    justify-content: space-evenly;
    height: 40px;
}

#navbar li a {
    font-size: 0.8rem;
    padding: 3px 3px;
}

#logo img {
    height: 30px;

}

#cart img {
    height: 30px;
}


#home p {
    font-size: 1.5rem;
}

.hprimary {
    font-size: 2rem;
}

.btn {
    font-size: 1rem;
}

.hsecondary {
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

#grocery .box {
    height: 125px;
    width: 30%;
    margin: 10px 10px;
}

.box img {
    height: 100px;
    width: 100px;
    margin: auto;
}

#item-8 img {
    width: 35px;
    margin-bottom: 2px;
}

.secondary {
    margin-top: 2px;
    font-size: 0.5rem;
}

.heading3 {
    font-size: 2rem;
    padding-top: 10px;
}

#brands {
    padding-top: 10px;
}

#brandstore {
    height: 335px;
}

#brandstore::before {
    height: 335px;
}

.brand-box img {
    height: 35px;
    width: 60px;
    padding: 10px;
}

#delivery img {
    width: 82%;
    height: 280px;
    margin-top: 20px;

}

#delivery p {
    font-size: 1rem;

}

#about {
    margin-top: 25px;
    font-size: 0.85rem;
    width: 60%;
    height: 330px;
    padding: 10px 30px;

}
